@import '../../../assets/styles/variables.less';
// Slidable layout component

.ant-drawer {
    .ant-drawer-header {
        padding: 20px 12px 12px 12px;
        text-align: center;
        border-bottom: 0;

        .ant-drawer-close {
            color: @black;
            margin-right: 0;
        }

        .ant-btn-icon-only {
            color: @black;
        }

        .ant-drawer-title {
            font-size: 24px;
            font-weight: 700;
        }
    }

    .detail-item {
        padding: 15px 0;

        &:not(:last-child) {
            border-bottom: 1px solid @gray250;
        }

        p {
            margin-bottom: 0
        }

        .title {
            flex: 0 0 70px;
            text-align: left;
            margin-right: 10px;
        }



    }

    .list-btn-detail {
        padding-top: 20px;

        .ant-btn-primary {
            margin-bottom: 10px;
            height: 28px;
            line-height: 20px;
            font-size: 14px;
            font-weight: 400;
            padding: 2px 11px;
            text-align: left;
            display: flex;
            align-items: center;
        }

        .ant-btn>span {
            text-align: center;
            flex: 1;
            padding-right: 5px;
        }
    }

    .appointment-note.ant-input:disabled {
        background-color: white;
        color: @gray300;
    }

    .appointment-feedback.ant-input:disabled {
        background-color: white;
        color: @gray300;
    }
}

.ant-popover-inner {
    background-color: transparent;
    box-shadow: unset;

    &-content {
        padding: 12px 26px 12px 16px;
    }
}

.provider-profile {
    width: 400px;
}

.ant-popover.notification-time {
    padding-top: 0px;

    .ant-popover-inner-content {
        padding: 0px;
    }
}

.ant-popconfirm.consultant {
    .ant-popover-inner {
        background-color: white;
        padding: 10px;
        box-shadow: 0 2px 8px rgb(120 120 120);

        .ant-popover-message .ant-popover-message-icon {
            font-size: 16px;
        }

        .ant-popover-buttons {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            button {
                padding: 0px 7px;
            }
        }
    }
}